<template>
    <div>
        <lightning-layout>
            <lightning-layout-item>
                <lightning-button data-id="nextButton" label="Next" icon-name="utility:chevronright" icon-position="right" onclick={nextClickHandler} >
                </lightning-button>
            <lightning-layout-item>
                <lightning-button data-id="previousButton" label="Previous" icon-name="utility:chevronleft" icon-position="left" onclick={previousClickHandler} >
                </lightning-button>
            </lightning-layout-item>
            </lightning-layout-item>
        </lightning-layout>
    </div>
</template>